<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    
    <add key="plugins" value="../../plugins"/>
    <add key="isHotKeysEnabled" value="true"/>

    <add key="saveHK" value="Z"/>
    <add key="loadHK" value="X"/>

    <add key="stone" value="pack://application:,,,/Resources/stone.ico"/>
    <add key="pen" value="pack://application:,,,/Resources/pen.ico"/>
    <add key="rockstar" value="pack://application:,,,/Resources/rockstar.ico"/>
    <add key="toriel" value="pack://application:,,,/Resources/toriel.ico"/>

  </appSettings>
</configuration>